pkgbase = nodejs-lerna
	pkgdesc = A tool that assists in managing JavaScript projects with multiple packages.
	pkgver = 4.0.0
	pkgrel = 1
	url = https://lerna.org
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	noextract = lerna-4.0.0.tgz
	source = https://registry.npmjs.org/lerna/-/lerna-4.0.0.tgz
	sha512sums = 0c3fe2d739eeadf3a63496f4381c3ae8d98daa233c905eae22bceb274c0613754d77378e873f738962d88916990c61b081b7233a8e9e21f731f4ee50ca7cfe92

pkgname = nodejs-lerna
