pkgbase = lerna
	pkgdesc = A tool that assists in managing JavaScript projects with multiple packages.
	pkgver = 5.1.6
	pkgrel = 1
	url = https://lerna.org
	arch = any
	license = MIT
	makedepends = npm
	makedepends = jq
	depends = nodejs
	provides = nodejs-lerna
	conflicts = nodejs-lerna
	replaces = nodejs-lerna
	noextract = lerna-5.1.6.tgz
	source = https://registry.npmjs.org/lerna/-/lerna-5.1.6.tgz
	sha512sums = 7a22e3dc8bab6c46acd6b1ad9ed5b809fdbfeb2f743adda841a536c2fe2ea36ac77fa1915d40446749eb138cac78394db6c4bf1fb6ea7ebbe50186f73d6506d4

pkgname = lerna
